<?xml version="1.0"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.3/phpunit.xsd"
        backupGlobals="false"
        backupStaticAttributes="false"
        cacheTokens="false"
        bootstrap="bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        forceCoversAnnotation="true"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnRisky="false"
        stopOnSkipped="false"
        timeoutForSmallTests="1"
        timeoutForMediumTests="10"
        timeoutForLargeTests="60"
        beStrictAboutCoversAnnotation="true"
        beStrictAboutTestsThatDoNotTestAnything="true"
        beStrictAboutOutputDuringTests="true"
        verbose="false">
    <testsuite name="Lizards and Pumpkins AMQP Queue Unit Tests">
        <directory>Suite</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory>../../src</directory>
        </whitelist>
    </filter>
</phpunit>
